<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiiju.dao.oa.staff.IWorkCompanyLogDao">
  <resultMap id="BaseResultMap" type="com.aiiju.bean.oa.staff.WorkCompanyLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="start_date" jdbcType="TIMESTAMP" property="startDate" />
    <result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="duty" jdbcType="VARCHAR" property="duty" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  
  <sql id="Base_Column_List">
      id, start_date, end_date, company_name, position, duty, user_id, company_id, create_date, 
      update_date
  </sql>
 
  <select id="selectByUsrId" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List"/>
    from oa_work_company_log
    where id = #{id}
  </select>
  
  
  <select id="selectByExample" parameterType="java.util.Map" resultMap="BaseResultMap">
   select 
    <include refid="Base_Column_List"/>
    from oa_work_company_log
    <where>
      <if test="startDate != null">
        start_date = #{startDate,jdbcType=TIMESTAMP}
      </if>
      <if test="endDate != null">
       and  end_date = #{endDate,jdbcType=TIMESTAMP}
      </if>
      <if test="companyName != null">
       and  company_name = #{companyName,jdbcType=VARCHAR}
      </if>
      <if test="position != null">
       and  position = #{position,jdbcType=VARCHAR}
      </if>
      <if test="duty != null">
       and  duty = #{duty,jdbcType=VARCHAR}
      </if>
      <if test="empId != null">
      and   user_id = #{empId,jdbcType=BIGINT}
      </if>
      <if test="companyId != null">
       and  company_id = #{companyId,jdbcType=BIGINT}
      </if> 
      <if test="createDate != null">
       and  create_date = #{createDate,jdbcType=TIMESTAMP}
      </if>
      <if test="updateDate != null">
       and  update_date = #{updateDate,jdbcType=TIMESTAMP}
      </if>
      <if test="startPos != null">
      limit #{startPos} , #{pageSize}
      </if>
    </where>
  </select>
  
  
  <delete id="deleteById" parameterType="java.lang.Long">
    delete from oa_work_company_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <delete id="deleteByUserId" parameterType="java.util.Map">
    delete from oa_work_company_log
    where user_id in
       <foreach item="item" index="index" collection="array" open="(" separator="," close=")">  
      #{item}  
    </foreach>
  </delete>
  
  
  
  <insert id="insert" parameterType="com.aiiju.bean.oa.staff.WorkCompanyLog">
    insert into oa_work_company_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="startDate != null">
        start_date,
      </if>
      <if test="endDate != null">
        end_date,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="position != null">
        position,
      </if>
      <if test="duty != null">
        duty,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="startDate != null">
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="duty != null">
        #{duty,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
 
  <update id="updateByExample" parameterType="com.aiiju.bean.oa.staff.WorkCompanyLog">
    update oa_work_company_log
    <set>
      <if test="startDate != null">
        start_date = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="duty != null">
        duty = #{duty,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
 
</mapper>