<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aiiju.dao.oa.attendance.ISignRuleUserDao" >
  <resultMap id="BaseResultMap" type="com.aiiju.bean.oa.attendance.SignRuleUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="rule_id" property="ruleId" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, company_id, user_id, rule_id, create_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from zds_sign_rule_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from zds_sign_rule_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aiiju.bean.oa.attendance.SignRuleUser" >
    insert into zds_sign_rule_user (id, company_id, user_id, 
      rule_id, create_date)
    values (#{id,jdbcType=INTEGER}, #{companyId,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, 
      #{ruleId,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.aiiju.bean.oa.attendance.SignRuleUser" >
    insert into zds_sign_rule_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="ruleId != null" >
        rule_id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="ruleId != null" >
        #{ruleId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aiiju.bean.oa.attendance.SignRuleUser" >
    update zds_sign_rule_user
    <set >
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="ruleId != null" >
        rule_id = #{ruleId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aiiju.bean.oa.attendance.SignRuleUser" >
    update zds_sign_rule_user
    set company_id = #{companyId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=BIGINT},
      rule_id = #{ruleId,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 根据参数查询规则用户列表 -->
   <select id="selectListByParams" parameterType="java.util.Map" resultMap="BaseResultMap">
   SELECT <include refid="Base_Column_List" />
   FROM zds_sign_rule_user
   <where>
    	<if test="companyId != null">
    		and company_id = #{companyId}
    	</if>
    	<if test="userId != null">
    		and user_id = #{userId}
    	</if>
    	<if test="ruleId != null">
	  		and rule_id = #{ruleId}
	  	</if>
    </where>
    ORDER BY create_date DESC
  </select>
  <!-- 根据公司id和考勤规则id删除记录 -->
  <delete id="deleteByCompanyIdAndRuleId" parameterType="java.util.Map">
    delete from zds_sign_rule_user
    where company_id = #{companyId} and rule_id = #{ruleId}
  </delete>
</mapper>